<?xml version="1.0" encoding="UTF-8"?>
<!-- The name of the product -->
<?define Name = "Sample Application" ?>
<!-- The Description of the product -->
<?define Description = "Sample Application is a WPF desktop application." ?>
<!-- The manufacturer, for setup package publisher and folder info -->
<?define Manufacturer = "Sample Company Name" ?>
<!-- The version number of this setup package-->
<?define Version = "1.0.0" ?>
<!-- UpgradeCode must be unique and not changed once the first version of the program is installed. -->
<?define UpgradeCode = "{FA3093D2-DA46-4044-BD5A-762297711F44}" ?>
<!-- The name of the Cabinet -->
<?define CabName = "SampleApplication.cab" ?>
<!--For Siging add this to Post Build Command Line property of Setup project "$(ProjectDir)SigningTool\signtool.exe" sign /f "$(ProjectDir)Certificate\SelfSignedCertificate.pfx" /d "SampleCompanyName" /p password123  /v /tr http://sha256timestamp.ws.symantec.com/sha256/timestamp /td SHA256 "Setup.msi"-->
<!--Signing will fail with this self signed certificate as its not a trusted certificate, so replace it with original trusted certificate and it will work-->

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">

  <!--Variable for Sample Application Directory-->
  <?define Sample_Application_TargetDir=$(var.SampleApplication.TargetDir)?>

  <Product Id="*" Name="$(var.Name)" Manufacturer="$(var.Manufacturer)" UpgradeCode="$(var.UpgradeCode)" Version="$(var.Version)" Language="1033">

    <!--Setup or Installer with properties-->
    <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" Manufacturer="$(var.Manufacturer)" />

    <!--Embed Cabinet into single msi file-->
    <Media Id="1" Cabinet="$(var.CabName)" EmbedCab="yes" />

    <!-- Allow upgrades and prevent downgrades -->
    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />

    <!--Main Feature for this Setup which can be found in Fragment Tag with ComponentGroupRef Id-->
    <Feature Id="ProductFeature" Title="$(var.Name)" Level="1">
      <ComponentGroupRef Id="ProductComponents" />
    </Feature>
  </Product>

  <!--Fragment with details of installation directory-->
  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <!-- Create a folder inside program files with Company Name-->
        <Directory Id="ROOTDIRECTORY" Name="$(var.Manufacturer)">
          <!-- Create a folder inside Company Name folder with Product Name-->
          <Directory Id="INSTALLFOLDER" Name="$(var.Name)">
          </Directory>
        </Directory>
      </Directory>
    </Directory>
  </Fragment>

  <!--Main Feature Fragment with Sample application executable-->
  <Fragment>
    <!--ComponentGroup refering to install component in INSTALLFOLDER Directory-->
    <ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
      <!--Main Component with Sample Application executable path-->
      <Component Id="Sample_Application.exe" Guid="*">
        <File Id="Sample_Application.exe" Name="Sample Application.exe" Source="$(var.Sample_Application_TargetDir)Sample Application.exe" />
      </Component>
      <!--Component with config file of sample application-->
      <Component Id="Sample_Application.exe.config" Guid="*">
        <File Id="Sample_Application.exe.config" Name="Sample Application.exe.config" Source="$(var.Sample_Application_TargetDir)Sample Application.exe.config" />
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>
